version: '3.8'
services:
  mongo:
    image: mongo:latest
    restart: always
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./apps/backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./apps/backend:/app
    depends_on:
      - mongo
    env_file:
      - ./apps/backend/.env

volumes:
  mongo_data:
